# {{ ansible_managed }}

protocols = {{ dovecot_protocols|join(' ') }}

default_process_limit = {{ dovecot_default_process_limit }}
default_client_limit = {{ dovecot_default_client_limit }}

mail_location = {{ dovecot_mail_location }}
mail_privileged_group = {{ dovecot_mail_privileged_group }}
mail_plugins = {{ dovecot_mail_plugins }}

namespace {
  type = {{ dovecot_root_namespace_type }}
  separator = {{ dovecot_root_namespace_separator }}
  prefix = {{ dovecot_root_namespace_prefix }}
  hidden = {{ dovecot_root_namespace_hidden }}
  inbox = {{ dovecot_root_namespace_inbox }}
}

log_path = {{ dovecot_log_path }}
info_log_path = {{ dovecot_info_log_path }}
mail_debug = {{ dovecot_mail_debug }}
syslog_facility = {{ dovecot_syslog_facility }}

{% if development and vagrant %}
ssl = no
ssl_cert =
ssl_key =
{% else %}
ssl = {{ dovecot_ssl }}
ssl_cert = {{ dovecot_ssl_cert }}
ssl_key = {{ dovecot_ssl_key }}
{% endif %}

passdb {
  driver = {{ dovecot_passdb_driver }}
  args = {{ dovecot_passdb_args }}

  master = {{ dovecot_passdb_master }}
  pass = {{ dovecot_passdb_pass }}
  skip = {{ dovecot_passdb_skip }}
}

userdb {
  driver = {{ dovecot_userdb_driver }}
  args = {{ dovecot_userdb_args }}
  default_fields = {{ dovecot_userdb_default_fields }}
}

auth_mechanisms = {{ dovecot_auth_mechanisms }}
disable_plaintext_auth = {{ dovecot_disable_plaintext_auth }}

auth_debug = {{ dovecot_auth_debug }}

service auth-worker {
  user = {{ dovecot_service_authworker_user }}
}

service auth {
  unix_listener {{ dovecot_service_auth_unix_listener }} {
    user = {{ dovecot_service_auth_unix_listener_user }}
    group = {{ dovecot_service_auth_unix_listener_group }}
    mode = {{ dovecot_service_auth_unix_listener_mode }}
  }
  user = {{ dovecot_service_auth_user }}
}

{% if "imap" in dovecot_protocols %}
service imap-login {
  inet_listener imap {
    port = {{ dovecot_service_imaplogin_imap_port }}
    ssl = {{ dovecot_service_imaplogin_imap_ssl }}
  }
  inet_listener imaps {
    port = {{ dovecot_service_imaplogin_imaps_port }}
    ssl = {{ dovecot_service_imaplogin_imaps_ssl }}
  }
}

service imap {
  process_limit = {{ dovecot_service_imap_process_limit }}
}

protocol imap {
  mail_plugins = {{ dovecot_protocol_imap_mail_plugins }}
}
{% endif %}

{% if "lmtp" in dovecot_protocols %}
service lmtp {
  unix_listener {{ dovecot_service_lmtp_unix_listener }} {
    user = {{ dovecot_service_lmtp_unix_listener_user }}
    group = {{ dovecot_service_lmtp_unix_listener_group }}
    mode = {{ dovecot_service_lmtp_unix_listener_mode }}
  }
}

protocol lmtp {
  postmaster_address = {{ dovecot_protocol_lmtp_postmaster_address }}
}
{% endif %}
