# {{ ansible_managed }}
#
# Fail2Ban filter configuration: http-scan
#
# Ban hosts that scan for vulnerable URLs in the web server.
#

[Definition]

# Option:  failregex
# Notes.:  Ban based on the URL requested.
# Values:  TEXT
#
failregex = ^<HOST> [^"]+"(GET|POST) /shell
{% if fail2ban_httpscan_entries is defined -%}
{% for entry in fail2ban_httpscan_entries %}
            ^<HOST> [^"]+"{{ entry }}
{% endfor %}
{%- endif -%}
