# {{ ansible_managed }}
#
# Fail2Ban filter configuration: rcpt-scan
#
# Ban hosts that scan names in my mail domain.
# They will try many common first names to find a valid address to spam.
#

[Definition]
{% if fail2ban_rcptscan_addresses is defined %}
{% for entry in fail2ban_rcptscan_addresses %}
{% if loop.first %}
failregex = from [^[]+\[<HOST>\].*to=<{{ entry }}>
{% else %}
            from [^[]+\[<HOST>\].*to=<{{ entry }}>
{% endif %}
{% endfor %}
{% endif %}
