# {{ ansible_managed }}
#
# Fail2Ban filter configuration: http-scan
#
# Ban hosts that scan for vulnerable URLs in the web server.
#

[Definition]
{% if fail2ban_httpscan_entries is defined %}
{% for entry in fail2ban_httpscan_entries %}
{% if loop.first %}
failregex = ^<HOST> [^"]+"{{ entry }}
{% else %}
            ^<HOST> [^"]+"{{ entry }}
{% endif %}
{% endfor %}
{% endif %}
