# {{ ansible_managed }}
#
# Ban hosts that fail frequently.
#

[postfix]
{% if fail2ban_enable_postfix %}
enabled = true
{% else %}
enabled = false
{% endif %}
logpath = /var/log/mail.log
bantime.increment = true
bantime.factor = 1
bantime.maxtime = 6h
bantime = 10m
findtime = 1h
maxretry = 3
usedns = no

[postfix-sasl]
{% if fail2ban_enable_postfix %}
enabled = true
{% else %}
enabled = false
{% endif %}
logpath = /var/log/mail.log
bantime.increment = true
bantime.factor = 1
bantime.maxtime = 6h
bantime = 10m
findtime = 1h
maxretry = 3

[postfix-rbl]
{% if fail2ban_enable_postfix %}
enabled = true
{% else %}
enabled = false
{% endif %}
logpath = /var/log/mail.log
bantime.increment = true
bantime.factor = 1
bantime.maxtime = 6h
bantime = 10m
findtime = 1h
maxretry = 1
