# {{ ansible_managed }}
#
# Ban hosts trying names that we know don't exist and are commonly tried.
# Since we know the users are not valid, we can use a low maxretry.
#

[rcpt-scan]
{% if fail2ban_enable_rcptscan %}
enabled = true
{% else %}
enabled = false
{% endif %}
filter = rcpt-scan
logpath = /var/log/mail.log
banaction = iptables
bantime.increment = true
bantime.factor = 1
bantime.maxtime = 5w
bantime = 10m
findtime = 1h
maxretry = 1
usedns = no
