# {{ ansible_managed }}
#
# Ban hosts that request vulnerable URLs in the web server.
# Since we know the URLs are not valid, we can use a low maxretry.
#

[http-scan]
{% if fail2ban_enable_httpscan %}
enabled = true
{% else %}
enabled = false
{% endif %}
filter = http-scan
{% if fail2ban_httpscan_logpath is defined %}
logpath = {{ fail2ban_httpscan_logpath }}
{% else %}
logpath = /var/log/nginx/access.log
{% endif %}
banaction = iptables
bantime.increment = true
bantime.factor = 1
bantime.maxtime = 5w
bantime = 20m
findtime = 1h
maxretry = 1
usedns = no
