# {{ ansible_managed }}
#
# Ban hosts that fail frequently.
#

[sshd]
{% if fail2ban_enable_sshd %}
enabled = true
{% else %}
enabled = false
{% endif %}
{% if development and vagrant %}
# The production port would be: {{ sshd_config_port }}
port = 22
{% else %}
port = {{ sshd_config_port }}
{% endif %}
mode = {{ fail2ban_sshd_mode }}
bantime.increment = true
bantime.factor = 1
bantime.maxtime = 5w
# bantime = 10m
# findtime = 10m
# maxretry = 5
