.vagrant
*.log

# ignore group and host vars, they are no longer part of this repo
ansible/group_vars
ansible/host_vars

# Ansible
# https://github.com/github/gitignore/blob/main/Global/Ansible.gitignore
*.retry

# vscode
# https://github.com/github/gitignore/blob/main/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix