# {{ ansible_managed }}

# A safety net that causes Postfix to run with backwards-compatible default
# settings after an upgrade to a newer Postfix version.
compatibility_level = 2

# Whether or not to use the local biff service. This service sends "new mail"
# notifications to users who have requested new mail notification with the UNIX
# command "biff y".
biff = no

# The location of Postfix README files that describe how to build, configure or
# operate a specific Postfix subsystem or feature.
readme_directory = no

# The text that follows the 220 status code in the SMTP greeting banner. Some
# people like to see the mail version advertised. By default, Postfix shows no
# version.
# You MUST specify $myhostname at the start of the text. This is required by
# the SMTP protocol.
smtpd_banner = $myhostname {{ postfix_smtpd_banner }}

# The internet hostname of this mail system. The default is to use the
# fully-qualified domain name (FQDN) from gethostname(), or to use the non-FQDN
# result from gethostname() and append ".$mydomain". $myhostname is used as a
# default value for many other configuration parameters.
myhostname = {{ postfix_myhostname }}
mydomain = {{ postfix_mydomain }}

# The myorigin parameter specifies the domain that appears in mail that is
# posted on this machine. The default is to use the local machine name,
# $myhostname, which defaults to the name of the machine. Unless you are
# running a really small site, you probably want to change that into $mydomain,
# which defaults to the parent domain of the machine name.
myorigin = {{ postfix_myorigin }}

# The mydestination parameter specifies what domains this machine will deliver
# locally, instead of forwarding to another machine. The default is to receive
# mail for the machine itself.
mydestination = {{ postfix_mydestination }}

# With the smtp_generic_maps parameter you can specify generic(5) lookup tables
# that replace local mail addresses by valid Internet addresses when mail
# leaves the machine via SMTP. The generic(5) mapping replaces envelope and
# header addresses, and is non-recursive. It does not happen when you send mail
# between addresses on the local machine.
smtp_generic_maps = hash:/etc/postfix/generic

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

# The list of "trusted" remote SMTP clients that have more privileges than
# "strangers". In particular, "trusted" SMTP clients are allowed to relay mail
# through Postfix.
#mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128

# The method to generate the default value for the mynetworks parameter. This
# is the list of trusted networks for relay access control etc.
# Specify "mynetworks_style = host" when Postfix should "trust" only the local
# machine.
mynetworks_style = host

# The network interface addresses that this mail system receives mail on.
# Specify "all" to receive mail on all network interfaces (default), and
# "loopback-only" to receive mail on loopback network interfaces only
{% if development and vagrant %}
# Using all for vagrant, regardless of the host it is emulating, to avoid
# config syntax issues because the public inet address doesn't exist in the VM
# The production value would be: {{ postfix_inet_interfaces }}
inet_interfaces = all
{% else %}
inet_interfaces = {{ postfix_inet_interfaces }}
{% endif %}

# The Internet protocols Postfix will attempt to use when making or accepting
# connections. Specify one or more of "ipv4" or "ipv6", separated by whitespace
# or commas. The form "all" is equivalent to "ipv4, ipv6" or "ipv4", depending
# on whether the operating system implements IPv6.
inet_protocols = {{ postfix_inet_protocols }}

# The numerical Postfix SMTP server response code when a recipient address is
# local, and $local_recipient_maps specifies a list of lookup tables that does
# not match the recipient. A recipient address is local when its domain matches
# $mydestination, $proxy_interfaces or $inet_interfaces.
unknown_local_recipient_reject_code = 550

# What destination domains (and subdomains thereof) this system will relay mail
# to. For details about how the relay_domains value is used, see the
# description of the permit_auth_destination and reject_unauth_destination SMTP
# recipient restrictions.
relay_domains = $mydestination, hash:/etc/postfix/relay_domains

{% if postfix_virtual_transport is defined -%}
# The default mail delivery transport and next-hop destination for final
# delivery to domains listed with $virtual_mailbox_domains.
virtual_transport = {{ postfix_virtual_transport }}

{% endif %}
{% if postfix_virtual_mailbox_domains is defined -%}
# Postfix is final destination for the specified list of domains; mail is
# delivered via the $virtual_transport mail delivery transport. By default this
# is the Postfix virtual(8) delivery agent. The SMTP server validates recipient
# addresses with $virtual_mailbox_maps and rejects mail for non-existent
# recipients.
virtual_mailbox_domains = {{ postfix_virtual_mailbox_domains }}

{% endif %}
{% if postfix_virtual_mailbox_base is defined -%}
# A prefix that the virtual(8) delivery agent prepends to all pathname results
# from $virtual_mailbox_maps table lookups. This is a safety measure to ensure
# that an out of control map doesn't litter the file system with mailboxes.
# While virtual_mailbox_base could be set to "/", this setting isn't
# recommended.
virtual_mailbox_base = {{ postfix_virtual_mailbox_base }}

{% endif %}
{% if postfix_virtual_transport is defined -%}
# Optional lookup tables with all valid addresses in the domains that match
# $virtual_mailbox_domains.
virtual_mailbox_maps = hash:/etc/postfix/vmailbox

# The minimum user ID value that the virtual(8) delivery agent accepts as a
# result from $virtual_uid_maps table lookup. Returned values less than this
# will be rejected, and the message will be deferred.
virtual_minimum_uid = {{ postfix_virtual_minimum_uid }}

# Lookup tables with the per-recipient user ID that the virtual(8) delivery
# agent uses while writing to the recipient's mailbox.
virtual_uid_maps = {{ postfix_virtual_uid_maps }}

# Lookup tables with the per-recipient group ID for virtual(8) mailbox
# delivery.
virtual_gid_maps = {{ postfix_virtual_gid_maps }}

{% endif %}
# Optional lookup tables that alias specific mail addresses or domains to other
# local or remote address. The table format and lookups are documented in
# virtual(5). For an overview of Postfix address manipulations see the
# ADDRESS_REWRITING_README document.
virtual_alias_maps = hash:/etc/postfix/virtual

# Optional BCC (blind carbon-copy) address lookup tables, indexed by recipient
# address. The BCC address (multiple results are not supported) is added when
# mail enters from outside of Postfix.
recipient_bcc_maps = hash:/etc/postfix/recipient_bcc_maps

# The alias databases that are used for local(8) delivery. See aliases(5) for
# syntax details. Specify zero or more "type:name" lookup tables, separated by
# whitespace or comma. Tables will be searched in the specified order until a
# match is found. Note: these lookups are recursive.
alias_maps = hash:/etc/aliases

# Each message header or message body line is compared against a list of
# patterns. When a match is found the corresponding action is executed, and the
# matching process is repeated for the next message header or message body
# line.
header_checks = regexp:/etc/postfix/header_checks

# The default SMTP TLS security level for the Postfix SMTP client; when a
# non-empty value is specified, this overrides the obsolete parameters
# smtp_use_tls, smtp_enforce_tls, and smtp_tls_enforce_peername.
smtp_tls_security_level = may

# The maximal size of any local(8) individual mailbox or maildir file, or zero
# (no limit).
mailbox_size_limit = 0

# The maximal size in bytes of a message, including envelope information.
message_size_limit = 20480000

# The default mail delivery transport and next-hop destination for final
# delivery to domains listed with mydestination, and for [ipaddress]
# destinations that match $inet_interfaces or $proxy_interfaces. This
# information can be overruled with the transport(5) table.
local_transport = local

# Optional lookup tables with mappings from recipient address to (message
# delivery transport, next-hop destination).
transport_maps = hash:/etc/postfix/transport

# File with the Postfix SMTP server RSA certificate in PEM format.
smtpd_tls_cert_file = {{ postfix_smtpd_tls_cert_file }}

# File with the Postfix SMTP server RSA private key in PEM format.
smtpd_tls_key_file = {{ postfix_smtpd_tls_key_file }}

# Opportunistic TLS: announce STARTTLS support to remote SMTP clients, but do
# not require that clients use TLS encryption.
smtpd_use_tls = {{ postfix_smtpd_use_tls }}

# Enable additional Postfix SMTP server logging of TLS activity. Each logging
# level also includes the information that is logged at a lower logging level.
smtpd_tls_loglevel = {{ postfix_smtpd_tls_loglevel }}

# Request that the Postfix SMTP server produces Received: message headers that
# include information about the protocol and cipher used, as well as the remote
# SMTP client CommonName and client certificate issuer CommonName.
smtpd_tls_received_header = {{ postfix_smtpd_tls_received_header }}

# The SMTP TLS security level for the Postfix SMTP server; when a non-empty
# value is specified, this overrides the obsolete parameters smtpd_use_tls and
# smtpd_enforce_tls. This parameter is ignored with "smtpd_tls_wrappermode =
# yes".
smtpd_tls_security_level = {{ postfix_smtpd_tls_security_level }}

# Ask a remote SMTP client for a client certificate.
smtpd_tls_ask_ccert = {{ postfix_smtpd_tls_ask_ccert }}

# Enable SASL authentication in the Postfix SMTP server. By default, the
# Postfix SMTP server does not use authentication.
smtpd_sasl_auth_enable = {{ postfix_smtpd_sasl_auth_enable }}

# The SASL plug-in type that the Postfix SMTP server should use for
# authentication. The available types are listed with the "postconf -a"
# command.
smtpd_sasl_type = {{ postfix_smtpd_sasl_type }}

# Implementation-specific information that the Postfix SMTP server passes
# through to the SASL plug-in implementation that is selected with
# smtpd_sasl_type. Typically this specifies the name of a configuration file or
# rendezvous point.
smtpd_sasl_path = {{ postfix_smtpd_sasl_path }}

# Access restrictions for mail relay control that the Postfix SMTP server
# applies in the context of the RCPT TO command, before
# smtpd_recipient_restrictions.
{% if postfix_smtpd_relay_restrictions is defined -%}
smtpd_relay_restrictions = {{ postfix_smtpd_relay_restrictions|join(',') }}
{% endif %}


# ### Anti-spam ###############################################################

# smtpd_sender_restrictions
# Optional restrictions that the Postfix SMTP server applies in the context of
# a client MAIL FROM command

# permit_sasl_authenticated
# Permit the request when the client is successfully authenticated via the RFC
# 4954 (AUTH) protocol

# reject_unauth_destination
# Reject the request unless the resolved RCPT TO domain matches $relay_domains
# or a subdomain thereof, and contains no sender-specified routing
# (user@elsewhere@domain)

# reject_unauth_pipelining
# Reject the request when the client sends SMTP commands ahead of time where it
# is not allowed, or when the client sends SMTP commands ahead of time without
# knowing that Postfix actually supports ESMTP command pipelining. This stops
# mail from bulk mail software that improperly uses ESMTP command pipelining in
# order to speed up deliveries.

# reject_non_fqdn_recipient
# Reject the request when the RCPT TO address is not in fully-qualified domain
# form, as required by the RFC

# reject_unknown_sender_domain
# Reject the request when Postfix is not final destination for the sender
# address, and the MAIL FROM domain has 1) no DNS MX and no DNS A record, or 2)
# a malformed MX record such as a record with a zero-length MX hostname

# check_recipient_access
# Search the specified access(5) database for the resolved RCPT TO address,
# domain, parent domains, or localpart@, and execute the corresponding action.

# reject_rhsbl_client
# Reject the request when the client hostname is listed with the A record
# "d.d.d.d" under rbl_domain

# permit_mynetworks
# Permit the request when the client IP address matches any network or network
# address listed in $mynetworks

# check_helo_access
# Search the specified access(5) database for the HELO or EHLO hostname or
# parent domains, and execute the corresponding action

{% if postfix_smtpd_recipient_restrictions is defined -%}
smtpd_recipient_restrictions = {{ postfix_smtpd_recipient_restrictions|join(',') }}
{% endif %}

# Optional restrictions that the Postfix SMTP server applies in the context of
# a client HELO command.
smtpd_helo_restrictions = permit_mynetworks, reject_invalid_hostname

# Optional restrictions that the Postfix SMTP server applies in the context of
# a client connection request.
smtpd_client_restrictions = hash:/etc/postfix/access, permit_mynetworks

smtpd_helo_required = yes
smtpd_delay_reject = yes

# Optional restrictions that the Postfix SMTP server applies in the context of
# a client MAIL FROM command.
{% if postfix_smtpd_sender_restrictions is defined -%}
smtpd_sender_restrictions = {{ postfix_smtpd_sender_restrictions|join(',') }}
{% endif %}

# The SMTP server response delay after a client has made more than
# $smtpd_soft_error_limit errors, and fewer than $smtpd_hard_error_limit
# errors, without delivering mail.
smtpd_error_sleep_time = 5

# The number of errors a remote SMTP client is allowed to make without
# delivering mail before the Postfix SMTP server slows down all its responses.
smtpd_soft_error_limit = 2

# The maximal number of errors a remote SMTP client is allowed to make without
# delivering mail. The Postfix SMTP server disconnects when the limit is
# exceeded. Normally the default limit is 20, but it changes under overload to
# just 1.
smtpd_hard_error_limit = 5

# The time unit over which client connection rates and other rates are
# calculated.
anvil_rate_time_unit = 10s

# The maximal number of connection attempts any client is allowed to make to
# this service per time unit. The time unit is specified with the
# anvil_rate_time_unit configuration parameter. By default, a client can make
# as many connections per time unit as Postfix can accept.
smtpd_client_connection_rate_limit = 3
