# {{ ansible_managed }}

{% if postfix_virtual_mailbox_entries is defined and postfix_virtual_mailbox_entries is not none -%}
{% for entry in postfix_virtual_mailbox_entries -%}
{{ entry.address }} {{ entry.mailbox }}
{% endfor -%}
{% endif -%}
