# {{ ansible_managed }}

server {
	listen 80 default_server;

	root /var/www/html;
	index index.html;

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ =404;
	}

{% for entry in nginx_site_set_real_ip_from_entries %}
	set_real_ip_from {{ entry }};
{% endfor %}

{% if nginx_site_real_ip_header %}
	real_ip_header {{ nginx_site_real_ip_header }};
{% endif %}

{% for entry in nginx_site_location_entries %}
	location {{ entry.path }} {
		proxy_pass {{ entry.proxy_pass }};
		proxy_set_header {{ entry.header_name }} {{ entry.header_value }};
	}
{% endfor %}
}
