# {{ ansible_managed }}

# Yes = True  = On  = 1
# No  = False = Off = 0

LogDir = /var/log

#TmpDir = /var/cache/logwatch

Output = stdout
Format = text
Encode = none

MailTo = {{ logwatch_mail_to }}

MailFrom = {{ logwatch_mail_from }}

Range = yesterday
Archives = No

# Low = 0
# Med = 5
# High = 10
Detail = High

{% for logwatch_service in logwatch_services %}
Service = "{{logwatch_service}}"
{% endfor %}

#mailer = "/usr/sbin/sendmail -t"
