# {{ ansible_managed }}

su root adm

# rotate logfiles at this time interval, or once they reach this size
yearly
maxsize 100M

# keep this many rotated copies
# i'm not running high volume services, so the logs tend to be small, can keep
# quite a lot
rotate 99

# create new (empty) log files after rotating old ones
create

compress

# packages drop log rotation information into this directory
include /etc/logrotate.d

# no packages own wtmp, or btmp -- we'll rotate them here
/var/log/wtmp {
    missingok
    monthly
    create 0664 root utmp
    rotate 1
}

/var/log/btmp {
    missingok
    monthly
    create 0660 root utmp
    rotate 1
}
